*{box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-family: "Fraunces", serif;
    color: #6C7289;
    width: 375px;
    height: 667px;
    background-color: white;
    border-radius: 10%;
}

body::after{
    stroke:50px;
    color: #F2EAE2;
}

h1{
font-weight: 700;
font-size:32px;
color: black;
}

p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
}
.size14{
    font-weight: 500;
    font-size: 14px;
}

.eurocolor{
    color: #3D8168;
    font-family: "Montserrat", serif;
    font-weight: 500px;
    font-size: 13px;
}

.dolarcolor{
    color: #6C7289;
    font-family: "Fraunces", serif;
    font-weight: 700px;
    font-size: 32px;
}


.price::after{
    content: attr(data-currency);
    color: #3D8168;
}

.addtocart{
    background-color:#3D8168;
    width: 295px;
    height: 48px;
    text-align: center;
}

.boxtext{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700px;
    text-align:initial;
}